<?xml version="1.0" encoding="UTF-8"?>
<bean id="websocket" class="com.up.websocket.handler.WebsocketEndPoint"/>  
  
<websocket:handlers>  
    <websocket:mapping path="/websocket" handler="websocket"/>  
    <websocket:handshake-interceptors>  
    <bean class="com.up.websocket.HandshakeInterceptor"/>  
    </websocket:handshake-interceptors>  
</websocket:handlers>